<!-- @author: Saran B Soman -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>We Care</title>
</head>
<body>
    <nav>
        <%
             if (results.name) { %>
         <h4><%= results.name %> </h4>
        <% } %> 
        <h4>Home</h4>
        <ul>
            <li><a href="/patientHome">Home</a></li>        
            <li><a href="/patientProfile">My Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <form action="/update/updatePatientProfile" method="POST" enctype="multipart/form-data">
                    <% results.forEach(result => { %>
                      <% if(result.image) {%>
                      <div>
                        <img class="pro-pic" src='/images/upload/<%=result.image%>'>
                      </div>
                      <% } %>
                      <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" value="<%= result.name %>" name="name">
                      </div>
                      <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="text" class="form-control" id="age" value="<%= result.age %>" name="age">
                      </div>
                      <% if(result.gender == 'male') { %>
                      <div class="form-group">
                        <label for="gender">Gender:</label>
                        <input type="radio" name="gender" checked value="male">Male
                        <input type="radio" name="gender" value="female">Female
                      </div>
                      <% } %>
                      <% if(result.gender == 'female') { %>
                      <div class="form-group">
                        <label for="gender">Gender:</label>
                        <input type="radio" name="gender"  value="male">Male
                        <input type="radio" name="gender" checked value="female">Female
                      </div>
                      <% } %>
                      <div class="form-group">
                        <label for="contactno">Phone no:</label>
                        <input type="text" class="form-control" id="phno" value="<%= result.contactno %>" name="phno">
                      </div>
                      <div class="form-group">
                        <label for="contactno">Add Image:</label>
                        <input type="file" class="form-control" id="img" name="img" value="<%= result.image %>">
                      </div>
                    
                    <button style="margin: 10px 350px" type="submit" class="btn btn-primary">Update</button>
                    <% }) %>
                  </form>
            </div>
      
          </div>          
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>